.Navbar{
    background-color: #6b5567;
    min-height: 70px;
    max-height:400px;
    border-bottom: 5px solid rgb(188, 63, 199);
}
.Navbar img{
    border-radius: 50%;
    vertical-align:middle;
    padding:10px 10px 10px 10px;
    float:left;
} 
.Navbar h2{
    padding-top: 17px;
    margin-top: 0px;
    float: left;
    color: black;
}
.Navbar li{
    display:inline;
    padding:5%;
    clear:left;
}
.Navbar li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    
    font-size: 2rem;
    font-weight:  bold
}
.Navbar li a:hover{
    color:rgb(215, 22, 253);
     
     
}
.Navbar ul{
    margin-top: 0px;
    padding-left: 78%;
    padding-top:25px
}
.cardpic{
    width:100%;
    height:400px 
}
 
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 100;
}

.popup-content{
    width: 600px;
    height: 600px;
    background: rgb(241, 73, 73);
    margin: 100px auto;
    position: relative;
    border: 5px solid #fff;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background: #222;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    line-height: 0;
    padding: 9px 0 11px;
    width: 20px;
    text-align: center;
}

/* .popup:target{
    display: block;
} */