.heading{
    color:#cc5fc5;
    text-align: center;
}
.btnbackground{
    background-color:  #642b60;
    color:white;
    text-align: center;
}
.inputfield input{  
    font-size: 15px;
    max-width: 400px;
    width: 100%;
    height: 35px;
    background-color: #e2c4e0;
    margin: 10px 0;
    border-radius: 55px;
    padding: 0 0.4rem;
}
.Signup div{
    margin-left: -39%;
    margin-bottom: 10%;
    text-align: center;
     
}
.Signup div .btn{
    padding:15px;
    width: 100px;
    height: 40px;
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    /* background-color: #e2c4de; */
    font-weight: bold;
    box-shadow: 5px 5px 2px 2px rgb(131, 127, 127);
    text-decoration: none;
    text-align: center;
}
.Signup div .btn:hover{
     color:black

}
.Signup form{
    min-height: 380px;
    margin:0% 25% 0% 30%;
    padding: 3% 0% 0% 10%;
    background-color: rgb(201, 149, 204);
     
    box-shadow: 7px 7px 5px 3px rgb(149, 145, 150);
    border-radius: 55px;
    
}
.Signup form:hover{
    opacity:1.0;
}
.Signup h1{
    margin-top:0px;
    padding-top:3%;
    text-align: center;
}
.Signup input{
    display: block;
}
.submit{
    width: 150px; 
    height: 40px;
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background-color:  #e2c4e0;
    font-weight: 500;
    border-radius: 10px;
    margin: 5% 0 0 13%;
    text-align: center;
    
}
.submit:hover{
    background-color:  #642b60;
}

 
